.list-item {
    cursor: pointer; 
    display: flex;
    flex-direction: row;   
    color: white;
}

.list {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    font-weight: 400;
}

.list-item:hover > .icon{
    color: #ffd600;
}

.green > .icon {
    color: #64dd17;
}