<mat-card>
    <mat-card-title> Adicionar Cliente</mat-card-title>
    <form>

        <mat-form-field>
            <input matInput placeholder="Cpf" [(ngModel)]="cliente.cpf" name="cpf">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="cliente.nome" name="nome">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="cliente.sexo">
                <mat-option value="M">M</mat-option>
                <mat-option value="F">F</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Data de Nascimento" [(ngModel)]="cliente.dat_nasc" name="dat_nasc">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="E-mail" [(ngModel)]="cliente.email" name="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Telefone" [(ngModel)]="cliente.phone" name="phone">
        </mat-form-field>

    </form>
    <button mat-raised-button color="primary" (click)="salvar()">
        Salvar
    </button>
    <button mat-raised-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>