table {
    width: 100%;
}

span{
    padding-bottom: 20px;
}

button {
    padding: 10px;
}

.edit > mat-icon {
    color: #d9cd26;
}

.delete > mat-icon {
    color: #e35e6b;
}

.favorite {
    cursor: pointer;
}